{% extends 'base.html.twig' %}
{% block title %}Catalogues{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Liste des produits</h1>
            </div>
            <div class="col-md-3" id="filtre">
                <p>Filtres :</p>
                {% include 'produits/_filtre.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                    {% include "produits/_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}