{% extends 'base.html.twig' %}

{% block title %}Ajouter une promotion à un Produits{% endblock %}

{% block body %}
    <H1>Ajouter une promotion à un Produits</h1>
    {% include "produits/_formPromo.html.twig" %}
{% endblock %}
